<header class="it-header-height">

  <div class="it-header-2-top-area it-header-2-top-style black-bg">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-xl-8 col-lg-6 col-md-5 col-sm-7">
  <div class="it-header-2-top-left">
  <ul class="text-center text-sm-start">
  <li class="d-none d-xl-inline-block">
  <a href="tel:(91)8757845682">
  <span>
  <i class="fa-light fa-phone-volume"></i>
  </span>
  (+91) 875 784 5682
  </a>
  </li>
  <li class="d-none d-xl-inline-block">
    <a href="mailto:info@onetargetupsc.com">
    <span>
    <i class="fa-light fa-envelope-open-text"></i>
    </span>
    info@onetargetupsc.com
    </a>
    </li>
  <li>
  <a href="https://www.google.com/maps?q=26.999766,75.7603746">
  <span>
  <i class="fal fa-map-marker-alt"></i>
  </span>
  Jaipur, India</a>
  </li>
  </ul>
  </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-7 col-sm-5 d-none d-sm-block">
  <div class="it-header-2-top-right-wrap text-end">
  <div class="it-header-2-top-right">
  <ul>
  <li>
 
  </li>
  <li>
  <div class="it-header-2-top-social">
  <a href="https://www.facebook.com/OneTargetUPSC"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="http://www.youtube.com/@RajChaudhary-bt6sd"><i class="fab fa-youtube"></i></a>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
  <div id="header-sticky" class="it-header-5-area it-header-1-style it-header-2-style">
  <div class="container">
  <div class="it-header-wrap p-relative">
  <div class="row align-items-center">
  <div class="col-xl-2 col-6">
  <div class="it-header-5-logo">
  <a href="/"><img src="assets/img/onetargetimages/logo.png" alt></a>
  </div>
  </div>
  <div class="col-xl-8 col-6 d-none d-xl-block">
  <div class="it-header-2-main-menu">
  <nav class="it-menu-content">
  <ul class="onepage-menu" style="text-align: right;">
  <li class="">
  <a href="#home">home</a>
  </li>
  <li><a href="#about">about us</a></li>
  <li><a href="#course">Courses</a></li>
  <li><a href="#contact">contact</a></li>
  <li><a href="#event">event</a></li>
  </ul>
  </nav>
  </div>
  </div>
  <div class="col-xl-2 col-6">
    <div class="it-header-2-right d-flex align-items-center justify-content-end">
    
    <div class="it-header-2-button d-none d-md-block">
    <a class="it-btn" href="https://web.classplusapp.com/login?orgCode=tcnfb">
    <span>
    Login
    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    </span>
    </a>
    </div>
    <div class="it-header-2-bar d-xl-none">
    <button class="it-menu-bar"><i class="fa-solid fa-bars"></i></button>
    </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  </header>