<header class="it-header-height">

  <div class="it-header-2-top-area it-header-2-top-style black-bg">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-xl-8 col-lg-6 col-md-5 col-sm-7">
  <div class="it-header-2-top-left">
  <ul class="text-center text-sm-start">
  <li class="d-none d-xl-inline-block">
  <a href="tel:(00)8757845682">
  <span>
  <i class="fa-light fa-phone-volume"></i>
  </span>
  (+91) 875 784 5682
  </a>
  </li>
  <li class="d-none d-xl-inline-block">
  <a href="https://ordainit.com/cdn-cgi/l/email-protection#8efeefedeffce9e1e7e0e8e1cee9e3efe7e2a0ede1e3">
  <span>
  <i class="fa-light fa-envelope-open-text"></i>
  </span><span class="__cf_email__" data-cfemail="f08091939182979f999e969fb0979d91999cde939f9d">[email&#160;protected]</span>
  </a>
  </li>
  <li>
  <a href="#">
  <span>
  <i class="fal fa-map-marker-alt"></i>
  </span>
  Jaipur, India</a>
  </li>
  </ul>
  </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-7 col-sm-5 d-none d-sm-block">
  <div class="it-header-2-top-right-wrap text-end">
  <div class="it-header-2-top-right">
  <ul>
  <li>
 
  </li>
  <li>
  <div class="it-header-2-top-social">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
  <div id="header-sticky" class="it-header-5-area it-header-1-style it-header-2-style">
  <div class="container">
  <div class="it-header-wrap p-relative">
  <div class="row align-items-center">
  <div class="col-xl-2 col-6">
  <div class="it-header-5-logo">
  <a href="/"><img src="assets/img/logo/logo-blue.png" alt></a>
  </div>
  </div>
  <div class="col-xl-10 col-6 d-none d-xl-block">
  <div class="it-header-2-main-menu">
  <nav class="it-menu-content">
  <ul class="onepage-menu" style="text-align: right;">
  <li class="">
  <a href="#home">home</a>
  </li>
  <li><a href="#about">about us</a></li>
  <li><a href="#course">Courses</a></li>
  <li><a href="#contact">contact</a></li>
  <li><a href="#event">event</a></li>
  </ul>
  </nav>
  </div>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  
  </header>