<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>OneTarget</title>
<meta name="description" content>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/animate.css">
<link rel="stylesheet" href="assets/css/custom-animation.css">
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/flaticon_xoft.css">
<link rel="stylesheet" href="assets/css/swiper-bundle.css">
<link rel="stylesheet" href="assets/css/meanmenu.css">
<link rel="stylesheet" href="assets/css/font-awesome-pro.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/spacing.css">
<link rel="stylesheet" href="assets/css/main.css">

<style>
   @import url('https://fonts.cdnfonts.com/css/lucida-sans');
  .app--btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lucida Grande", sans-serif;
  }
  .app--icon{
    margin-right: 6px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

</head>
<body>

<div id="preloader">
<div class="preloader">
<span></span>
<span></span>
</div>
</div>


<button class="scroll-top scroll-to-target" data-target="html">
<i class="far fa-angle-double-up"></i>
</button>


<div class="it-offcanvas-area">
<div class="itoffcanvas">
<div class="it-offcanva-bottom-shape d-none d-xxl-block">
</div>
<div class="itoffcanvas__close-btn">
<button class="close-btn"><i class="fal fa-times"></i></button>
</div>
<div class="itoffcanvas__logo">
<a href="/">
<img src="assets/img/logo/logo-white.png" alt>
</a>
</div>
<div class="itoffcanvas__text">
<p>Suspendisse interdum consectetur libero id. Fermentum leo vel orci porta non. Euismod viverra nibh
cras pulvinar suspen.</p>
</div>
<div class="it-menu-mobile"></div>
<div class="itoffcanvas__info">
<h3 class="offcanva-title">Get In Touch</h3>
<div class="it-info-wrapper mb-20 d-flex align-items-center">
<div class="itoffcanvas__info-icon">
<a href="#"><i class="fal fa-envelope"></i></a>
</div>
<div class="itoffcanvas__info-address">
<span>Email</span>
<a href="maito:info@onetargetupsc.com">info@onetargetupsc.com</a>
</div>
</div>
<div class="it-info-wrapper mb-20 d-flex align-items-center">
<div class="itoffcanvas__info-icon">
<a href="#"><i class="fal fa-phone-alt"></i></a>
</div>
<div class="itoffcanvas__info-address">
<span>Phone</span>
<a href="tel:(91)8955249714">(+91) 895 524 9714</a>
</div>
</div>
<div class="it-info-wrapper mb-20 d-flex align-items-center">
<div class="itoffcanvas__info-icon">
<a href="#"><i class="fas fa-map-marker-alt"></i></a>
</div>
<div class="itoffcanvas__info-address">
<span>Location</span>
<a href="https://www.google.com/maps?q=26.999766,75.7603746" target="_blank">
Jaipur, India </a>
</div>
</div>
</div>
</div>
</div>
<div class="body-overlay"></div>

<%- include('header') %>
<main>

<div class="it-slider-area fix">
<div class="it-slider-wrap p-relative">
<div class="it-slider-active">
<div style="background-repeat: no-repeat; background-size: cover;" class="it-slider-bg it-slider-overlay d-flex align-items-center it-slider-height p-relative" data-background="/assets/img/onetargetimages/slider/slider1.jpg">
<div class="it-slider-shape-1 d-none d-xl-block">
<img src="assets/img/slider/slider-shape-2.png" alt>
</div>
<div class="it-slider-shape-2 d-none d-xl-block">
<img src="assets/img/slider/slider-shape-1.png" alt>
</div>
<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-8">
<div class="it-hero-2-content z-index-5">
<h1 class="it-hero-2-title">Welcome to OneTarget</h1>
<div class="it-hero-2-text">
<p>Join the ranks of successful aspirants with OneTarget’s comprehensive UPSC prep app. Get expert resources and mock tests at your fingertips. Download now to start your journey to the Indian Civil Services.</p>
</div>
</div>

<div class="it-hero-2-btn-box d-flex align-items-center">
  <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
    <i class="fab fa-google-play app--icon fa-xl"></i>
    <span>
       Download
    </span>
    </a>
<a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
  <span>
    <i class="fab fa-apple app--icon fa-xl"></i>

     Download
  
  </span>
  </a>
</div>
</div>
</div>
</div>
</div>
<div style="background-repeat: no-repeat; background-size: cover;" class="it-slider-bg it-slider-overlay d-flex align-items-center it-slider-height p-relative" data-background="/assets/img/onetargetimages/slider/slider2.jpg">
<div class="it-slider-shape-1 d-none d-xl-block">
<img src="assets/img/slider/slider-shape-2.png" alt>
</div>
<div class="it-slider-shape-2 d-none d-xl-block">
<img src="assets/img/slider/slider-shape-1.png" alt>
</div>
<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-8">
<div class="it-hero-2-content z-index-5">
<h1 class="it-hero-2-title">Trust Your UPSC Journey With Us</h1>
<div class="it-hero-2-text">
<p>Access the best in UPSC preparation right from your device. Download our app for curated study materials and personalized test series. Start your path to success today.</p>
</div>
</div>
<div class="it-hero-2-btn-box d-flex align-items-center">
  <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
    <i class="fab fa-google-play app--icon fa-xl"></i>
    <span>
       Download
    </span>
    </a>
<a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
  <span>
    <i class="fab fa-apple app--icon fa-xl"></i>

     Download
  
  </span>
  </a>
</div>
</div>
</div>
</div>
</div>
<div style="background-repeat: no-repeat; background-size: cover;" class="it-slider-bg it-slider-overlay d-flex align-items-center it-slider-height p-relative" data-background="/assets/img/onetargetimages/slider/slider3.jpg">
<div class="it-slider-shape-1 d-none d-xl-block">
<img src="assets/img/slider/slider-shape-2.png" alt>
</div>
<div class="it-slider-shape-2 d-none d-xl-block">
<img src="assets/img/slider/slider-shape-1.png" alt>
</div>
<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-8">
<div class="it-hero-2-content z-index-5">
<h1 class="it-hero-2-title">Lets Shape Your UPSC Journey Together</h1>
<div class="it-hero-2-text">
<p>Embark on a path to success with our comprehensive UPSC preparation app. Streamline your study with expert resources and test series – all in one place. Download now and take the first step towards your civil services goal.</p>
</div>
</div>
<div class="it-hero-2-btn-box d-flex align-items-center">
  <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
    <i class="fab fa-google-play app--icon fa-xl"></i>
    <span>
       Download
    </span>
    </a>
<a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
  <span>
    <i class="fab fa-apple app--icon fa-xl"></i>

     Download
  
  </span>
  </a>
</div>
</div>
</div>
</div>
</div>
<div style="background-repeat: no-repeat; background-size: cover;" class="it-slider-bg it-slider-overlay d-flex align-items-center it-slider-height p-relative" data-background="/assets/img/onetargetimages/slider/slider1.jpg">
  <div class="it-slider-shape-1 d-none d-xl-block">
  <img src="assets/img/slider/slider-shape-2.png" alt>
  </div>
  <div class="it-slider-shape-2 d-none d-xl-block">
  <img src="assets/img/slider/slider-shape-1.png" alt>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-xl-7 col-lg-8">
  <div class="it-hero-2-content z-index-5">
  <h1 class="it-hero-2-title">Welcome to OneTarget</h1>
  <div class="it-hero-2-text">
  <p>Join the ranks of successful aspirants with OneTarget’s comprehensive UPSC prep app. Get expert resources and mock tests at your fingertips. Download now to start your journey to the Indian Civil Services.</p>
  </div>
  </div>
  
  <div class="it-hero-2-btn-box d-flex align-items-center">
    <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
      <i class="fab fa-google-play app--icon fa-xl"></i>
      <span>
         Download
      </span>
      </a>
  <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
    <span>
      <i class="fab fa-apple app--icon fa-xl"></i>
  
       Download
    
    </span>
    </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div style="background-repeat: no-repeat; background-size: cover;" class="it-slider-bg it-slider-overlay d-flex align-items-center it-slider-height p-relative" data-background="/assets/img/onetargetimages/slider/slider2.jpg">
  <div class="it-slider-shape-1 d-none d-xl-block">
  <img src="assets/img/slider/slider-shape-2.png" alt>
  </div>
  <div class="it-slider-shape-2 d-none d-xl-block">
  <img src="assets/img/slider/slider-shape-1.png" alt>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-xl-7 col-lg-8">
  <div class="it-hero-2-content z-index-5">
  <h1 class="it-hero-2-title">Trust Your UPSC Journey With Us</h1>
  <div class="it-hero-2-text">
  <p>Access the best in UPSC preparation right from your device. Download our app for curated study materials and personalized test series. Start your path to success today.</p>
  </div>
  </div>
  <div class="it-hero-2-btn-box d-flex align-items-center">
    <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
      <i class="fab fa-google-play app--icon fa-xl"></i>
      <span>
         Download
      </span>
      </a>
  <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
    <span>
      <i class="fab fa-apple app--icon fa-xl"></i>
  
       Download
    
    </span>
    </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div style="background-repeat: no-repeat; background-size: cover;" class="it-slider-bg it-slider-overlay d-flex align-items-center it-slider-height p-relative" data-background="/assets/img/onetargetimages/slider/slider3.jpg">
  <div class="it-slider-shape-1 d-none d-xl-block">
  <img src="assets/img/slider/slider-shape-2.png" alt>
  </div>
  <div class="it-slider-shape-2 d-none d-xl-block">
  <img src="assets/img/slider/slider-shape-1.png" alt>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-xl-7 col-lg-8">
  <div class="it-hero-2-content z-index-5">
  <h1 class="it-hero-2-title">Lets Shape Your UPSC Journey Together</h1>
  <div class="it-hero-2-text">
  <p>Embark on a path to success with our comprehensive UPSC preparation app. Streamline your study with expert resources and test series – all in one place. Download now and take the first step towards your civil services goal.</p>
  </div>
  </div>
  <div class="it-hero-2-btn-box d-flex align-items-center">
    <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
      <i class="fab fa-google-play app--icon fa-xl"></i>
      <span>
         Download
      </span>
      </a>
  <a class="it-btn-white sky-bg mr-30 app--btn" style="background-color: black;" href="#">
    <span>
      <i class="fab fa-apple app--icon fa-xl"></i>
  
       Download
    
    </span>
    </a>
  </div>
  </div>
  </div>
  </div>
  </div>


</div>
<div class="it-slider-nav-wrap z-index-5">
<div class="it-slider-nav-active d-none d-lg-block">
<div class="it-slider-nav-thumb">
<img src="/assets/img/onetargetimages/slider/slider1.jpg" alt>
</div>
<div class="it-slider-nav-thumb">
<img src="/assets/img/onetargetimages/slider/slider2.jpg" alt>
</div>
<div class="it-slider-nav-thumb">
<img src="/assets/img/onetargetimages/slider/slider3.jpg" alt>
</div>
<div class="it-slider-nav-thumb">
<img src="/assets/img/onetargetimages/slider/slider1.jpg" alt>
</div>
<div class="it-slider-nav-thumb">
<img src="/assets/img/onetargetimages/slider/slider2.jpg" alt>
</div>
<div class="it-slider-nav-thumb">
<img src="/assets/img/onetargetimages/slider/slider3.jpg" alt>
</div>

</div>
</div>
</div>
</div>

<div class="it-feature-area grey-bg it-feature-2-style pt-120 pb-120">
<div class="container">
<div class="row">
<div class="col-xl-4 col-lg-4 col-md-6 mb-30">
<div class="it-feature-item text-center">
<div class="it-feature-item-content z-index">
<div class="it-feature-icon">
<span><i class="flaticon-class"></i></span>
</div>
<div class="it-feature-text pt-30">
<h4 class="it-feature-title">ELEVATE LEARNING</h4>
<p>Comprehensive courses with personalized learning strategies for academic excellence.</p>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 mb-30">
<div class="it-feature-item text-center">
<div class="it-feature-item-content z-index">
<div class="it-feature-icon">
<span><i class="flaticon-bachelor"></i></span>
</div>
<div class="it-feature-text pt-30">
<h4 class="it-feature-title">EXPERT TEACHERS</h4>
<p>Dedicated, experienced educators focused on nurturing student potential and growth.</p>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 mb-30">
<div class="it-feature-item text-center">
<div class="it-feature-item-content z-index">
<div class="it-feature-icon">
<span><i class="flaticon-study"></i></span>
</div>
<div class="it-feature-text pt-30">
<h4 class="it-feature-title">STRATEGIC LOCATION</h4>
<p>Centrally situated, our center is a nexus of education and convenience.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div id="about" class="it-about-2-area p-relative pt-120 pb-120">
<div class="it-about-2-shape-2 d-none d-xxl-block">
<img src="assets/img/about/shape-2-2.png" alt>
</div>
<div class="it-about-2-big-text">
<h6>ABUT US</h6>
</div>
<div class="container">
<div class="row align-items-end">
<div class="col-xl-6 col-lg-6 order-1 order-lg-0">
<div class="it-about-2-thumb-wrap d-flex justify-content-between">
<div class="it-about-2-thumb p-relative mt-95">
<img src="assets/img/onetargetimages/about-1.jpg" alt>
<div class="it-about-2-shape-1 d-none d-xxl-block">
<img src="assets/img/about/shape-2-1.png" alt>
</div>
</div>
<div class="it-about-2-thumb">
<img src="assets/img/onetargetimages/about-2.jpg" alt>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 order-0 order-lg-1">
<div class="it-about-2-right">
<div class="it-about-2-title-box pb-25">
<span class="it-section-subtitle-2">about us</span>
<h4 class="it-section-title">Learn From The Best: <br> India's Premier Mentors
</h4>
</div>
<div class="it-about-2-text pb-5">
<p>With a decade of excellence in UPSC preparation, our online coaching center equips aspirants with in-depth knowledge, flexible learning modules, and comprehensive study materials. Experience personalized mentorship and innovative strategies that have empowered thousands to succeed in one of India's most challenging exams. Discover your potential with us and transform your ambition into achievement.</p>
</div>
<div class="it-about-2-text-2 mb-30">
<span>Learn from top-tier faculty and our rigorous test series designed to mirror UPSC standards.</span>
</div>
<div class="it-about-2-bottom d-flex justify-content-between align-items-end">
<div class="it-about-2-icon-wrap">
<div class="it-about-2-icon mb-25 d-flex align-items-center">
<img src="assets/img/about/icon-1-1.png" alt>
<span>Flexible Classes</span>
</div>
<div class="it-about-2-icon mb-35 d-flex align-items-center">
<img src="assets/img/about/icon-1-2.png" alt>
<span>Learn From Anywhere</span>
</div>
<a class="it-btn-white sky-bg" href="https://web.classplusapp.com/login?orgCode=tcnfb">
<span>
More About Us
<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
<path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
</svg>
</span>
</a>
</div>
<div class="it-about-2-video p-relative">
<div class="it-about-2-thumb-sm">
<img src="assets/img/about/thumb-sm.png" alt>
</div>
<div class="it-about-2-video-icon">
<a class="popup-video play" href="https://www.youtube.com/watch?v=PO_fBTkoznc"><i class="fas fa-play"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="it-cta-area it-cta-height black-bg p-relative">
<div class="it-cta-bg d-none d-xl-block">
<img src="assets/img/about/cta-1.png" alt>
</div>
<div class="container">
<div class="row align-items-center">
<div class="col-xl-9 col-lg-7 col-md-7">
<div class="it-cta-content">
<h4 class="it-cta-title">Get Ahead with OneTarget: 
  <br>Your Learning, Simplified.</h4>
</div>
</div>
<div class="col-xl-3 col-lg-5 col-md-5">
<div class="it-cta-button text-md-end">
<a class="it-btn-white sky-bg" href="https://web.classplusapp.com/login?orgCode=tcnfb">
<span>
More About Us
<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
<path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
</svg>
</span>
</a>
</div>
</div>
</div>
</div>
</div>


<div id="course" class="it-course-area it-course-style-2  p-relative pt-120 pb-120">
<div class="it-course-shape-6 d-none d-xl-block">
<img src="assets/img/course/shape-1-6.png" alt>
</div>
<div class="container">
<div class="it-course-title-wrap p-relative mb-60">
<div class="it-course-shape-5 d-none d-xl-block">
<img src="assets/img/course/shape-1-5.png" alt>
</div>
<div class="row align-items-end">
<div class="col-xl-8 col-lg-8 col-md-8">
<div class="it-course-title-box">
<span class="it-section-subtitle-2">Our Courses</span>
<h4 class="it-section-title">
Creating A Community Of <br>
Life Long Learners.
</h4>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4">
<div class="it-course-button text-start text-md-end">
<a class="it-btn-white sky-bg" href="https://web.classplusapp.com/login?orgCode=tcnfb">
<span>
All Courses
<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
<path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
</svg>
</span>
</a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-6 col-lg-6">
<div class="it-course-2-wrap d-flex align-items-center">
<div class="it-course-thumb  p-relative">
<a class="fix" href="#"><img src="assets/img/onetargetimages/courses/course1.png" alt></a>
<div class="it-course-thumb-text">
<span>General Studies</span>
</div>
</div>
<div class="it-course-content">
<div class="it-course-rating mb-10">
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-regular fa-star"></i>
<span>(4.7)</span>
</div>
<h4 class="it-course-title pb-15"><a href="#">UPSC Exam 2024 - General Studies</a></h4>
<div class="it-course-info pb-20 mb-25 d-flex justify-content-between">
<span><i class="fa-light fa-book"></i>84 Lectures</span>
<span><i class="fa-light fa-file-invoice"></i>133 Tests</span>
<span><i class="fa-sharp fa-regular fa-clock"></i>40h 30m</span>
<!-- <span><i class="fa-light fa-user"></i>Students 50+</span> -->
</div>
<div class="it-course-author pb-25">
<span>By <i>Mr Raj Niran Singh</i></span>
</div>
<div class="it-course-price-box d-flex justify-content-between">
<span><i>Rs 1500</i><span style="text-decoration: line-through; margin-left: 6px">Rs 3000</span></span>
<a href="https://tcnfb.courses.store/363528?utm_source%3Dother%26utm_medium%3Dstudent-course-referral%26utm_campaign%3Dcourse-overview-webapp"><i class="fa-light fa-cart-shopping"></i>Try Now</a>
</div>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6">
<div class="it-course-2-wrap d-flex align-items-center">
<div class="it-course-thumb  p-relative">
<a href="#"><img src="assets/img/onetargetimages/courses/course2.png" alt></a>
<div class="it-course-thumb-text">
<span>Geography</span>
</div>
</div>
<div class="it-course-content">
<div class="it-course-rating mb-10">
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-regular fa-star"></i>
<span>(4.8)</span>
</div>
<h4 class="it-course-title pb-15"><a href="#">UPSC Exam 2024 - Geography of India</a></h4>
<div class="it-course-info pb-20 mb-25 d-flex justify-content-between">
<span><i class="fa-light fa-file-invoice"></i>52 Lectures</span>
<span><i class="fa-light fa-book"></i>36 Test</span>
<span><i class="fa-sharp fa-regular fa-clock"></i>29h 30m</span>
</div>
<div class="it-course-author pb-25">
<span>By <i>Mr Raj Niran Singh</i></span>
</div>
<div class="it-course-price-box d-flex justify-content-between">
<span><i>Rs 500</i><span style="text-decoration: line-through;margin-left: 6px">Rs 2000</span></span>
<a href="https://tcnfb.courses.store/334953?utm_source%3Dother%26utm_medium%3Dstudent-course-referral%26utm_campaign%3Dcourse-overview-webapp"><i class="fa-light fa-cart-shopping"></i>Try Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="it-team-3-area it-team-3-style-2 p-relative z-index pb-90">
  <div class="container">
  <div class="row">
  <div class="col-xl-12">
  <div class="it-testimonial-5-title-box text-center mb-60">
  <span class="it-section-subtitle-5"><i class="fa-light fa-book"></i> teacher <i class="fa-light fa-book"></i></span>
  <h4 class="it-section-title-5">meet our expert teacher</h4>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
  <div class="it-team-3-item text-center">
  <div class="it-team-3-thumb fix">
  <img src="/assets/img/onetargetimages/teacher1.jpg" alt="">
  </div>
  <div class="it-team-3-content">
  <div class="it-team-3-social-box p-relative">
  <button>
  <i class="fa-light fa-share-nodes"></i>
  </button>
  <div class="it-team-3-social-wrap">
  <a href="#"><i class="fa-brands fa-instagram"></i></a>
  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
  </div>
  <div class="it-team-3-author-box">
  <h4 class="it-team-3-title"><a href="#">Mr Raj Niran Singh</a></h4>
  <span>Teacher</span>
  </div>
  </div>
  </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
  <div class="it-team-3-item text-center">
  <div class="it-team-3-thumb fix">
  <img src="/assets/img/onetargetimages/teacher2.jpg" alt="">
  </div>
  <div class="it-team-3-content">
  <div class="it-team-3-social-box p-relative">
  <button>
  <i class="fa-light fa-share-nodes"></i>
  </button>
  <div class="it-team-3-social-wrap">
  <a href="#"><i class="fa-brands fa-instagram"></i></a>
  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
  </div>
  <div class="it-team-3-author-box">
  <h4 class="it-team-3-title"><a href="#">Mrs Amita Sharma</a></h4>
  <span>Teacher</span>
  </div>
  </div>
  </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
  <div class="it-team-3-item text-center">
  <div class="it-team-3-thumb fix">
  <img src="/assets/img/onetargetimages/teacher3.jpg" alt="">
  </div>
  <div class="it-team-3-content">
  <div class="it-team-3-social-box p-relative">
  <button>
  <i class="fa-light fa-share-nodes"></i>
  </button>
  <div class="it-team-3-social-wrap">
  <a href="#"><i class="fa-brands fa-instagram"></i></a>
  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
  </div>
  <div class="it-team-3-author-box">
  <h4 class="it-team-3-title"><a href="#">Mrs Sudesh Yadav</a></h4>
  <span>Teacher</span>
  </div>
  </div>
  </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
  <div class="it-team-3-item text-center">
  <div class="it-team-3-thumb fix">
  <img src="/assets/img/onetargetimages/teacher4.jpg" alt="">
  </div>
  <div class="it-team-3-content">
  <div class="it-team-3-social-box p-relative">
  <button>
  <i class="fa-light fa-share-nodes"></i>
  </button>
  <div class="it-team-3-social-wrap">
  <a href="#"><i class="fa-brands fa-instagram"></i></a>
  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
  </div>
  <div class="it-team-3-author-box">
  <h4 class="it-team-3-title"><a href="#">Retd Colonel Paresh Dave</a></h4>
  <span>Teacher</span>
  </div>
  </div>
  </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
    <div class="it-team-3-item text-center">
    <div class="it-team-3-thumb fix">
    <img src="/assets/img/onetargetimages/teacher5.jpg" alt="">
    </div>
    <div class="it-team-3-content">
    <div class="it-team-3-social-box p-relative">
    <button>
    <i class="fa-light fa-share-nodes"></i>
    </button>
    <div class="it-team-3-social-wrap">
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
    </div>
    <div class="it-team-3-author-box">
    <h4 class="it-team-3-title"><a href="#">Mr Hirok Baruah (APSC)</a></h4>
    <span>Teacher</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
      <div class="it-team-3-item text-center">
      <div class="it-team-3-thumb fix">
      <img src="/assets/img/onetargetimages/teacher6.jpg" alt="">
      </div>
      <div class="it-team-3-content">
      <div class="it-team-3-social-box p-relative">
      <button>
      <i class="fa-light fa-share-nodes"></i>
      </button>
      <div class="it-team-3-social-wrap">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      </div>
      <div class="it-team-3-author-box">
      <h4 class="it-team-3-title"><a href="#">Mr Debojit Burman</a></h4>
      <span>Teacher</span>
      </div>
      </div>
      </div>
      </div>
  </div>
  </div>
  </div>

<div class="it-choose-area it-choose-style-2 z-index fix p-relative grey-bg pt-180 pb-110">
<div class="it-choose-shape-5 d-none d-xl-block">
<img src="assets/img/choose/shape-1-7.png" alt>
</div>
<div class="it-choose-shape-6 d-none d-xl-block">
<img src="assets/img/choose/shape-1-8.png" alt>
</div>
<div class="it-choose-shape-7 d-none d-xl-block">
<img src="assets/img/choose/shape-1-9.png" alt>
</div>
<div class="it-choose-shape-8 d-none d-xl-block">
<img src="assets/img/choose/shape-1-10.png" alt>
</div>
<div class="container">
<div class="row align-items-center">
<div class="col-xl-6 col-lg-6 mb-30">
<div class="it-choose-thumb-box text-center text-lg-end">
<div class="it-choose-thumb p-relative">
<img src="assets/img/onetargetimages/classroom.png" alt>
<div class="it-choose-shape-1">
<img src="assets/img/choose/shape-1-5.png" alt>
</div>
<div class="it-choose-shape-2">
<img src="assets/img/choose/shape-1-6.png" alt>
</div>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 mb-30">
<div class="it-choose-left">
<div class="it-choose-title-box mb-30">
<span class="it-section-subtitle-2">WHY CHOOSE US</span>
<h4 class="it-section-title">Creating A Community Of
Life Long Learners.
</h4>
</div>
<div class="it-choose-content-box">
<div class="it-choose-content d-flex align-items-center mb-30">
<div class="it-choose-icon">
<span><i class="flaticon-skill"></i></span>
</div>
<div class="it-choose-text">
<h4 class="it-choose-title">Affordable Courses</h4>
<p class="mb-0">Quality learning made accessible. Dive into our diverse course selection at competitive rates.</p>
</div>
</div>
<div class="it-choose-content d-flex align-items-center mb-30">
<div class="it-choose-icon">
<span><i class="flaticon-funds"></i></span>
</div>
<div class="it-choose-text">
<h4 class="it-choose-title">Efficient & Flexible</h4>
<p class="mb-0">Maximize your potential with our adaptable learning schedules and efficient teaching methods.</p>
</div>
</div>
<div class="it-choose-content d-flex align-items-center">
<div class="it-choose-icon">
<span><i class="flaticon-flexibility"></i></span>
</div>
<div class="it-choose-text">
<h4 class="it-choose-title">Skilled Teachers</h4>
<p class="mb-0">Learn from the best: experienced educators committed to your personal and academic growth.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="it-testimonial-5-area it-testimonial-style-2 p-relative pt-120 pb-120">
<div class="it-testimonial-5-shape-5 d-none d-xl-block">
<img src="assets/img/testimonial/shape-5-6.png" alt>
</div>
<div class="it-testimonial-5-shape-6 d-none d-xl-block">
<img src="assets/img/testimonial/shape-5-7.png" alt>
</div>
<div class="it-testimonial-5-shape-7 d-none d-xl-block">
<img src="assets/img/testimonial/shape-5-8.png" alt>
</div>
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="it-testimonial-5-title-box text-center mb-60">
<span class="it-section-subtitle-2">Testimonial</span>
<h4 class="it-section-title-5">Creating A Community Of <br>
Life Long Learners.</h4>
</div>
</div>
<div class="col-xl-12">
<div class="it-testimonial-5-wrapper p-relative">
<div class="swiper-container it-testimonial-5-active">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="it-testimonial-5-item p-relative z-index">
<div class="it-testimonial-3-author-box d-flex align-items-center mb-20">
<div class="it-testimonial-3-avata">
<img src="/assets/img/onetargetimages/review1.png" alt>
</div>
<div class="it-testimonial-3-author-info">
<h5>Priya Singh</h5>
<span>Student</span>
</div>
</div>
<div class="it-testimonial-5-content z-index-5">
<div class="it-testimonial-5-star pb-10">
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
</div>
<div class="it-testimonial-5-text">
<p>“This institution isn't just about academic learning; it's a beacon of knowledge that lights up the path for our future careers. The personalized attention and the variety of courses have enriched my learning experience profoundly.”</p>
</div>
</div>
<div class="it-testimonial-5-quote d-none d-xl-block">
<img src="assets/img/testimonial/quote-1-2.png" alt>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="it-testimonial-5-item p-relative z-index">
<div class="it-testimonial-3-author-box d-flex align-items-center mb-20">
<div class="it-testimonial-3-avata">
<img src="/assets/img/onetargetimages/review2.png" alt>
</div>
<div class="it-testimonial-3-author-info">
<h5>Aarav Sharma</h5>
<span>Student</span>
</div>
</div>
<div class="it-testimonial-5-content z-index-5">
<div class="it-testimonial-5-star pb-10">
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
</div>
<div class="it-testimonial-5-text">
<p>“The dedication of the teachers here is unparalleled. They don't just teach; they mentor and inspire us to achieve greater heights. The community and the learning environment are incredibly supportive and empowering.”</p>
</div>
</div>
<div class="it-testimonial-5-quote d-none d-xl-block">
<img src="assets/img/testimonial/quote-1-2.png" alt>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="it-testimonial-5-item p-relative z-index">
<div class="it-testimonial-3-author-box d-flex align-items-center mb-20">
<div class="it-testimonial-3-avata">
<img src="/assets/img/onetargetimages/review3.png" alt>
</div>
<div class="it-testimonial-3-author-info">
<h5> Rohan Desai</h5>
<span>Student</span>
</div>
</div>
<div class="it-testimonial-5-content z-index-5">
<div class="it-testimonial-5-star pb-10">
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
<i class="fa-sharp fa-solid fa-star"></i>
</div>
<div class="it-testimonial-5-text">
<p>“Joining this academy has been a transformational journey. The blend of rigorous academic curriculum and extracurricular activities has honed my skills and prepared me for the challenges of the professional world.”</p>
</div>
</div>
<div class="it-testimonial-5-quote d-none d-xl-block">
<img src="assets/img/testimonial/quote-1-2.png" alt>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="it-video-area it-video-style-2 it-video-bg p-relative fix pt-100 pb-95" data-background="assets/img/video/bg-1-1.jpg">
<div class="it-video-shape-1 d-none d-lg-block">
<img src="assets/img/video/shape-1-6.png" alt>
</div>
<div class="it-video-shape-2 d-none d-lg-block">
<img src="assets/img/video/shape-1-2.png" alt>
</div>
<div class="it-video-shape-3 d-none d-lg-block">
<img src="assets/img/video/shape-1-7.png" alt>
</div>
<div class="it-video-shape-4 d-none d-lg-block">
<img src="assets/img/video/shape-1-4.png" alt>
</div>
<div class="it-video-shape-5 d-none d-lg-block">
<img src="assets/img/video/shape-1-5.png" alt>
</div>
<div class="container">
<div class="row align-items-center">
<div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
<div class="it-video-content">
<span>Join Our New Session</span>
<h3 class="it-video-title">Call To Enroll <br> <a href="tel:+918955249714">(+91) 895 524 9714</a></h3>
<div class="it-video-button">
<a class="it-btn blue-bg" href="https://web.classplusapp.com/login?orgCode=tcnfb">
<span>
Join With us
<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
<path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
</svg>
</span>
</a>
</div>
</div>
</div>
<div class="col-xl-5 col-lg-5 col-md-3 col-sm-3">
<div class="it-video-play-wrap d-flex justify-content-start justify-content-md-end align-items-center">
<div class="it-video-play text-center">
<a class="popup-video play" href="https://www.youtube.com/watch?v=PO_fBTkoznc"><i class="fas fa-play"></i></a>
<a class="text" href="#">watch now</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div id="contact" class="it-contact-area it-contact-style-2 it-contact-bg p-relative pt-120 pb-120" data-background="assets/img/contact/bg-1-2.jpg">
<div class="it-contact-shape-1 d-none d-xxl-block">
<img src="assets/img/contact/shape-1-1.png" alt>
</div>
<div class="it-contact-shape-3 z-index-5 d-none d-xxl-block">
<img src="assets/img/contact/shape-1-6.png" alt>
</div>
<div class="it-contact-shape-4 d-none d-xxl-block">
<img src="assets/img/contact/shape-1-4.png" alt>
</div>
<div class="it-contact-shape-5 d-none d-xxl-block">
<img src="assets/img/contact/shape-1-7.png" alt>
</div>
<div class="container">
<div class="row align-items-center">
<div class="col-xl-7 col-lg-6">
<div class="it-contact-left">
<div class="it-contact-title-box pb-20">
<span class="it-section-subtitle-2">
Contact With US
</span>
<h2 class="it-section-title-3">Register Now Get Premium
Online Admison</h2>
</div>
<div class="it-contact-text pb-15">
<p>Embark on your educational journey with us and gain access to unparalleled online learning experiences. Our premium admission process is streamlined and student-friendly, ensuring you get started on your courses with ease. Connect with expert educators and join a community of passionate learners. Secure your spot today and take the first step towards a brighter future. For more details, reach out to us — let's shape your academic path together!</p>
</div>

<div class="it-contact-thumb-box">
<img src="assets/img/onetargetimages/contact.jpg" alt>
</div>
</div>
</div>
<div class="col-xl-5 col-lg-6">
<div class="it-contact-wrap" data-background="assets/img/contact/bg-5.jpg">
<h4 class="it-contact-title text-black">Search for courses</h4>
<p class="pb-15">Reach out for Expert UPSC Guidance:
  Partner with us for personalized strategies and unparalleled support on your path to becoming a civil servant.</p>
<form action="/api/student-funnel" method="POST" enctype="application/x-www-form-urlencoded">
<div class="row">
<div class="col-12 mb-15">
<div class="it-contact-input-box">
<input name="name" type="text" placeholder="Your Name" required>
</div>
</div>
<div class="col-12 mb-15">
<div class="it-contact-input-box">
<input name="email" type="email" placeholder="Your Email" required>
</div>
</div>
<div class="col-12 mb-15">
  <div class="it-contact-input-box">
  <input type="number" name="phone" placeholder="Your Phone" required>
  </div>
  </div>


</div>
<button type="submit" class="it-btn black-bg">
<span>
submit now
<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
<path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
</svg>
</span>
</button>
</form>
</div>
</div>
</div>
</div>
</div>


<div id="event" class="it-event-2-area p-relative pt-90 pb-90">
<div class="container">
<div class="it-event-2-title-wrap mb-60">
<div class="row align-items-end">
<div class="col-12">
<div class="it-event-2-title-box text-center">
<span class="it-section-subtitle-2">
Our Events
</span>
<h2 class="it-section-title-3">Upcoming Events</h2>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-4 col-lg-6 col-md-6 mb-30">
<div class="it-event-2-item-box">
<div class="it-event-2-item">
<div class="it-event-2-thumb fix">
<a href="#"><img src="assets/img/onetargetimages/events/1.jpg" alt></a>
<div class="it-event-2-date">
<span><i>26</i> <br>
Febuary</span>
</div>
</div>
<div class="it-event-2-content">
<h4 class="it-event-2-title"><a href="#">Webinar For New UPSC Aspirants</a></h4>
<div class="it-event-2-text">
<p class="mb-0 pb-10">Join our quality webinar tailored for new UPSC aspirants, featuring experienced teachers ready to guide you on your path to success.
</p>
</div>
<div class="it-event-2-meta">
<span>
<i class="fa-light fa-clock"></i>
Time: 11:00am 03;00pm
</span>
<span>
<a href="#">
<i class="fa-light fa-location-dot"></i>
</a>
Location: Online
</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6 mb-30">
<div class="it-event-2-item-box">
<div class="it-event-2-item">
<div class="it-event-2-thumb fix">
<a href="#"><img src="assets/img/onetargetimages/events/2.jpg" alt></a>
<div class="it-event-2-date">
<span><i>05</i> <br>
Febuary</span>
</div>
</div>
<div class="it-event-2-content">
<h4 class="it-event-2-title"><a href="#">Scholarship Test
for previewing</a></h4>
<div class="it-event-2-text">
<p class="mb-0 pb-10">Unlock your potential with our Scholarship Test, designed to support students striving for academic excellence.
</p>
</div>
<div class="it-event-2-meta">
<span>
<i class="fa-light fa-clock"></i>
Time: 11:00am 03;00pm
</span>
<span>
<a href="#">
<i class="fa-light fa-location-dot"></i>
</a>
Location: Online
</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6 mb-30">
<div class="it-event-2-item-box">
<div class="it-event-2-item">
<div class="it-event-2-thumb fix">
<a href="#"><img src="assets/img/onetargetimages/events/3.jpg" alt></a>
<div class="it-event-2-date">
<span><i>25</i> <br>
April</span>
</div>
</div>
<div class="it-event-2-content">
<h4 class="it-event-2-title"><a href="#">Launch Of New Course</a></h4>
<div class="it-event-2-text">
<p class="mb-0 pb-10">Introducing 'Civics for UPSC 2024', a comprehensive new course crafted to deepen your understanding of the Indian polity and governance.
</p>
</div>
<div class="it-event-2-meta">
<span>
<i class="fa-light fa-clock"></i>
Time: 11:00am 03;00pm
</span>
<span>
<a href="#">
<i class="fa-light fa-location-dot"></i>
</a>
Location: Online
</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="it-brand-area black-bg pt-50 pb-50">
<div class="container">
<div class="row">
<div class="col-12">
<div class="it-brand-wrapper">
<div class="swiper-container it-brand-active">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="it-brand-item text-center">
<img src="/assets/img/onetargetimages/sponsor.png" alt>
</div>
</div>
<div class="swiper-slide">
<div class="it-brand-item text-center">
<img src="/assets/img/onetargetimages/sponsor2.png" alt>
</div>
</div>
<div class="swiper-slide">
<div class="it-brand-item text-center">
<img src="/assets/img/onetargetimages/sponsor.png" alt>
</div>
</div>
<div class="swiper-slide">
<div class="it-brand-item text-center">
<img src="/assets/img/onetargetimages/sponsor2.png" alt>
</div>
</div>
<div class="swiper-slide">
<div class="it-brand-item">
<img src="/assets/img/onetargetimages/sponsor.png" alt>
</div>
</div>
<div class="swiper-slide">
  <div class="it-brand-item">
  <img src="/assets/img/onetargetimages/sponsor.png" alt>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="it-faq-area p-relative pt-120 pb-120">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-6 col-lg-6">
<div class="it-faq-thumb text-center text-lg-start">
<img src="assets/img/onetargetimages/faq.jpg" alt>
</div>
</div>
<div class="col-xl-6 col-lg-6">
<div class="it-faq-wrap">
<div class="it-faq-title-box mb-20">
<span class="it-section-subtitle-2">faq</span>
<h4 class="it-section-title-5">Frequently asked some
questions?</h4>
</div>
<div class="it-custom-accordion it-custom-accordion-style-2">
<div class="accordion" id="accordionExample">
<div class="accordion-items tp-faq-active">
<h2 class="accordion-header" id="headingOne">
<button class="accordion-buttons " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Why Should I Prepare Online?
</button>
</h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
<div class="accordion-body d-flex align-items-center">
<p class="mb-0">Online preparation is a time-saver, offering the flexibility to learn at your own pace, anytime, anywhere. You gain access to the best faculty across India, ensuring high-quality guidance that's essential for success.</p>
</div>
</div>
</div>
<div class="accordion-items">
<h2 class="accordion-header" id="headingTwo">
<button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Can I Access It Anytime?
</button>
</h2>
<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
<div class="accordion-body d-flex align-items-center">
<p class="mb-0">Yes, our platform is accessible 24/7, allowing you to watch lectures and use resources on any device, wherever you are, at your convenience.</p>
</div>
</div>
</div>
<div class="accordion-items">
<h2 class="accordion-header" id="headingThree">
<button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
How Can I Practice?
</button>
</h2>
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
<div class="accordion-body d-flex align-items-center">
<p class="mb-0">We provide an extensive range of quizzes and mock test series to ensure thorough preparation, enabling you to practice effectively for the UPSC exam.</p>
</div>
</div>
</div>
<div class="accordion-items">
<h2 class="accordion-header" id="headingFour">
<button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
Why Should I Choose OneTarget?
</button>
</h2>
<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
<div class="accordion-body d-flex align-items-center">
<p class="mb-0">Choose OneTarget for access to the finest lecturers, top-notch test series, and round-the-clock support to address all your doubts and queries, ensuring you have the best possible preparation experience.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="it-newsletter-area it-newsletter-height fix p-relative theme-bg">
  <div class="it-newsletter-shape-1 d-none d-lg-block">
  <img src="assets/img/newsletter/shape-1-1.png" alt="">
  </div>
  <div class="it-newsletter-shape-2 d-none d-lg-block">
  <img src="assets/img/newsletter/shape-1-2.png" alt="">
  </div>
  <div class="it-newsletter-shape-3 d-none d-xl-block">
  <img src="assets/img/newsletter/shape-1-3.png" alt="">
  </div>
  <div class="it-newsletter-shape-4 d-none d-xl-block">
  <img src="assets/img/newsletter/shape-1-4.png" alt="">
  </div>
  <div class="container">
  <div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6">
  <div class="it-newsletter-left">
  <h4 class="it-section-title text-white pb-20">Contact Us For Teaching</h4>
  <span>Interested in teaching? Contact us to join our team of dedicated educators.</span>
  </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6">
  <div class="it-newsletter-right p-relative text-end">
  <form action="/api/teacher-funnel" method="post" enctype="application/x-www-form-urlencoded">
  <input type="email" name="email" placeholder="Enter your email:" required>
  <button class="it-btn black-bg" type="submit"><span>Contact Now</span></button>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>



</main>
<%- include('footer') %>

<script data-cfasync="false" src="assets/email-decode.min.js"></script><script src="assets/js/jquery.js"></script>
<script src="assets/js/waypoints.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/magnific-popup.js"></script>
<script src="assets/js/purecounter.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/countdown.js"></script>
<script src="assets/js/nice-select.js"></script>
<script src="assets/js/swiper-bundle.js"></script>
<script src="assets/js/isotope-pkgd.js"></script>
<script src="assets/js/imagesloaded-pkgd.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>